<mat-toolbar>
  <h1>

  </h1>
  <button mat-icon-button (click)= "sidenav.toggle()"><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container >
          
          <mat-sidenav #sidenav mode = "side" [opened]=true>
             
                  <h2>Flat</h2>
                  <mat-label>Price</mat-label> 
                  <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
                <br>
               
                <mat-label class="rooms">Number of rooms</mat-label>
                <mat-button-toggle-group *ngFor = "let n of numOfRooms">
                  
                    <mat-button-toggle>
                      <mat-radio-button>
                        {{n}}
                      </mat-radio-button>
                      
                    </mat-button-toggle>
                </mat-button-toggle-group>
            
          </mat-sidenav>

   
          <mat-sidenav-content>
              <agm-map [latitude]="lat" [longitude]="lng">
                  <div *ngFor="let property of this.properties">
                    <!-- <agm-info-window [latitude]=property.latitude [longitude]=property.longitude [isOpen]=true>
                      <b>{{property.price}}</b>
                    </agm-info-window> -->
                    <agm-marker [latitude]=property.latitude [longitude]=property.longitude [label]=property.price [zIndex]="200">
                      <!-- <agm-marker-label> -->
                      <agm-info-window>
                        <p><b>{{property.address}}</b></p>
                        <p>Suburb: {{property.suburb}} <br> Bedrooms: {{property.numBedrooms}}</p>
                      </agm-info-window>
                    <!-- </agm-marker-label> -->
                    </agm-marker>
                  </div>
                </agm-map>
          </mat-sidenav-content>
          
</mat-sidenav-container> 