agm-map {
    height: 100vh;
    z-index: 1;
}

.agm {
   width: 100%;
   
 }

 .mat-select {

 }
.finder{
    height: 42px;
    text-align: center;
   
}
 .label {
    padding-left: 10px;
    padding-right: 10px;
 }